@tailwind base;

html * {
  font-family: "Lato", sans-serif;
}

@tailwind components;

.spin {
  animation: spin 1s linear infinite;
}

[dir="rtl"] .rtl\:arabic-ol {
  list-style-type: arabic-indic;
}

@tailwind utilities;
